@charset "UTF-8";
/*MEDIA QUERIS PARA PAGINA NOSOTROS*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5;
      margin-right: 10px;
      margin-left: 10px; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 481px) and (max-width: 769px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 60px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 50px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

/* MEDIA QUERIS PARA PÁGINA POLITICA DE CALIDAD */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoPol h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA SERVICIOS */
.encabezadoSer h1 {
  font-size: 50px; }

/* MEDIA QUERIS PARA PÁGINA PRODUCTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoProd h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA CONTACTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoCon h1 {
    font-size: 50px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; }
    .contenidoCon .formulario {
      margin-left: 10px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; } }

/*ESTILOS PARA PAGINA NOSOTROS*/
/*Estilo para el encabezado de la página*/
.encabezadoIndex {
  background-image: url(../../multimedia/imagen-21-1.jpg);
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .encabezadoIndex .imagenLogo {
    position: relative;
    top: 60px; }
  .encabezadoIndex h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px;
    color: #e0d5d5; }

/*Estilo para el contenido de la página*/
.contenidoIndex {
  background-image: url(../../multimedia/imagen-37.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 30% 50%;
  grid-template-areas: "contenidoIndex__titulo imagen-27" "parrafoNosotros1 imagen-27" "parrafoNosotros1 imagen-09";
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 1px;
  height: 100%; }
  .contenidoIndex .contenidoIndex__titulo {
    font-family: Helvetica;
    font-weight: bold;
    grid-area: contenidoIndex__titulo;
    margin-top: 20px;
    color: lightseagreen; }
  .contenidoIndex .parrafoNosotros1 {
    grid-area: parrafoNosotros1;
    padding: 3px 10px;
    border: lightseagreen 1px solid;
    font-family: Helvetica;
    font-size: 17px;
    text-align: justify;
    color: #e0d5d5;
    margin-left: 20px;
    margin-right: 20px; }
  .contenidoIndex span {
    color: #167edf;
    font-size: 40px; }
  .contenidoIndex .imagen-09 {
    transform: scale(1);
    grid-area: imagen-09;
    padding: 3px 5px;
    border: lightseagreen 1px solid; }
  .contenidoIndex .imagen-27 {
    transform: scale(1);
    grid-area: imagen-27;
    padding: 3px 5px;
    border: lightseagreen 1px solid; }

/*ESTILOS PARA PAGINA POLITICA DE CALIDAD*/
/*Estilo para el encabezado de la página*/
.encabezadoPol {
  background-image: url(../../multimedia/imagen-23.jpg);
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .encabezadoPol .imagenLogo {
    position: relative;
    top: 60px; }
  .encabezadoPol h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px;
    color: #e0d5d5; }

/*Estilo para el contenido de la página*/
.contenidoPol {
  background-image: url(../../multimedia/imagen-37.jpg);
  background-position: center;
  background-size: cover; }
  .contenidoPol .col {
    color: #e0d5d5;
    padding: 3px 10px;
    border: lightseagreen 1px solid;
    font-family: Helvetica;
    font-size: 18px;
    margin: 20px; }
  .contenidoPol h2 {
    text-align: center;
    color: lightseagreen;
    padding: 10px; }
  .contenidoPol span {
    color: #167edf; }

/*ESTILOS PARA PAGINA SERVICIOS*/
/*Estilo para el encabezado de la página*/
.encabezadoSer {
  background-image: url(../../multimedia/image-44.jpg);
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .encabezadoSer .imagenLogo {
    position: relative;
    top: 60px; }
  .encabezadoSer h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px;
    color: #e0d5d5; }

/*Estilo para el contenido de la página*/
.contenidoSer {
  background-image: url(../../multimedia/imagen-37.jpg);
  background-position: center;
  background-size: cover; }
  .contenidoSer h2 {
    color: lightseagreen;
    padding: 10px;
    margin-bottom: 10px; }
  .contenidoSer .servicios {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center; }
  .contenidoSer .video-contenedor {
    margin-top: 30px; }

.video-titulo {
  text-align: center;
  font-family: Helvetica;
  color: lightseagreen;
  font-size: 25px;
  margin-top: 20px; }

/*MEDIA QUERIS PARA PAGINA NOSOTROS*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5;
      margin-right: 10px;
      margin-left: 10px; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 481px) and (max-width: 769px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 60px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 50px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

/* MEDIA QUERIS PARA PÁGINA POLITICA DE CALIDAD */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoPol h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA SERVICIOS */
.encabezadoSer h1 {
  font-size: 50px; }

/* MEDIA QUERIS PARA PÁGINA PRODUCTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoProd h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA CONTACTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoCon h1 {
    font-size: 50px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; }
    .contenidoCon .formulario {
      margin-left: 10px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; } }

/*ESTILOS PARA PÁGINA PRODUCTOS*/
/* Estilo para el encabezado de la página */
.encabezadoProd {
  background-image: url(../../multimedia/imagen-38.jpg);
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .encabezadoProd .imagenLogo {
    position: relative;
    top: 60px; }
  .encabezadoProd h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px;
    color: #e0d5d5; }

/* Estilo para el contenido de la página */
.contenidoProd {
  background-image: url(../../multimedia/imagen-37.jpg);
  background-position: center;
  background-size: cover; }
  .contenidoProd h2 {
    color: lightseagreen;
    padding: 20px;
    margin-bottom: 20px; }

/*ESTILOS PARA PAGINA CONTACTOS*/
/*Estilo para el encabezado de la página*/
.encabezadoCon {
  background-image: url(../../multimedia/imagen-39.jpg);
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .encabezadoCon .imagenLogo {
    position: relative;
    top: 60px; }
  .encabezadoCon h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: 80px;
    color: #e0d5d5; }

/*Estilo para el contenido de la página*/
.contenidoCon {
  background-image: url(../../multimedia/imagen-37.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: auto auto;
  grid-template-areas: "contenidoCon__titulo contenidoCon__titulo contenidoCon__titulo"    "formulario mapa direccion";
  justify-content: space-around;
  justify-items: center;
  align-items: flex-start; }
  .contenidoCon .contenidoCon__titulo {
    text-align: center;
    color: lightseagreen;
    padding: 20px;
    margin-bottom: 20px;
    grid-area: contenidoCon__titulo; }
  .contenidoCon legend {
    color: lightseagreen;
    font-size: 30px; }
  .contenidoCon label {
    background-color: #167edf;
    color: #e0d5d5;
    padding: 10px;
    border-radius: 3px; }
  .contenidoCon input {
    font-family: Helvetica; }
  .contenidoCon .formulario {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    row-gap: 5px;
    grid-area: formulario;
    margin-left: 30px; }
  .contenidoCon .enviar {
    font-family: Helvetica;
    background-color: #e0d5d5;
    padding: 10px;
    border-radius: 5px; }
  .contenidoCon .borrar {
    font-family: Helvetica;
    background-color: #e0d5d5;
    padding: 10px;
    border-radius: 5px; }
  .contenidoCon .mapa {
    grid-area: mapa; }
  .contenidoCon .direccion {
    font-family: Helvetica;
    grid-area: direccion;
    margin-right: 30px;
    color: #e0d5d5; }
    .contenidoCon .direccion .direccion-tit {
      font-family: Helvetica;
      color: lightseagreen;
      text-align: left; }
    .contenidoCon .direccion ul {
      text-align: left;
      list-style: none; }

/*ESTILOS PARA EL FOOTER*/
footer {
  background-color: black;
  font-family: Helvetica;
  color: #e0d5d5;
  padding-top: 30px; }
  footer ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px; }
  footer span {
    color: #ac0808; }
  footer .contactos {
    padding: 5px;
    background-color: #167edf;
    background-clip: border-box;
    font-family: Helvetica;
    font-size: 25px;
    color: #e0d5d5;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px; }

/*MEDIA QUERIS PARA PAGINA NOSOTROS*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5;
      margin-right: 10px;
      margin-left: 10px; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 481px) and (max-width: 769px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 60px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 60px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .encabezadoIndex {
    background-image: url(../../multimedia/imagen-21-1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .encabezadoIndex .imagenLogo {
      position: relative;
      top: 50px; }
    .encabezadoIndex h1 {
      position: relative;
      top: 100px;
      text-align: center;
      font-family: Helvetica;
      font-size: 50px;
      color: #e0d5d5; }
  .contenidoIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "contenidoIndex__titulo" "parrafoNosotros1"  "imagen-27" "imagen-09";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .contenidoIndex .contenidoIndex__titulo {
      text-align: center; }
    .contenidoIndex .parrafoNosotros1 {
      font-size: 15px;
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px; }
    .contenidoIndex .imagen-09 {
      transform: scale(1);
      grid-area: imagen-09; }
    .contenidoIndex .imagen-27 {
      transform: scale(1);
      grid-area: imagen-27; } }

/* MEDIA QUERIS PARA PÁGINA POLITICA DE CALIDAD */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoPol h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA SERVICIOS */
.encabezadoSer h1 {
  font-size: 50px; }

/* MEDIA QUERIS PARA PÁGINA PRODUCTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoProd h1 {
    font-size: 50px; } }

/* MEDIA QUERIS PARA PÁGINA CONTACTOS */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .encabezadoCon h1 {
    font-size: 50px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; }
    .contenidoCon .formulario {
      margin-left: 10px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contenidoCon {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "contenidoCon__titulo" "formulario"  "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 10px; }
    .contenidoCon .direccion {
      display: none; } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
