@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS PARA PAGINA CONTACTOS*/

/*Estilo para el encabezado de la página*/

.encabezadoCon{
    background-image: url(../../multimedia/imagen-39.jpg);
    background-position: center;
    @include flex;
    .imagenLogo{
        position:relative;
        top: 60px;
    }
    h1{
        position:relative;
        top: 100px;
        text-align: center;
        font-family:$tipografia-principal;
        font-size: 80px;
        color: nth($list: $colores, $n:3);
    }
}

/*Estilo para el contenido de la página*/

.contenidoCon{
    background-image: url(../../multimedia/imagen-37.jpg);
    background-position: center;
    background-size: cover;
    @include contacto;
    .contenidoCon__titulo{
        text-align: center;
        color: nth($list: $colores, $n:5);
        padding: 20px; 
        margin-bottom: 20px;
        grid-area: contenidoCon__titulo; 
    }
    legend{
        color: nth($list: $colores, $n:5);
        font-size: 30px;
    }
    label{
        background-color:nth($list: $colores, $n:1) ;
        color: nth($list: $colores, $n:3);
        padding: $medida-1;
        border-radius: 3px;
    }
    input{
        font-family:$tipografia-principal;
    }
    .formulario{
        font-family: $tipografia-principal;
        display: flex;
        flex-direction:column;
        justify-content:center;
        justify-items: center;
        row-gap: 5px;
        grid-area: formulario;
        margin-left: 30px;
    }
    .enviar{
        font-family:$tipografia-principal;
        background-color:nth($list: $colores, $n:3);
        padding: $medida-1;
        border-radius: 5px;
    }
    .borrar{
        font-family:$tipografia-principal;
        background-color:nth($list: $colores, $n:3);
        padding: $medida-1;
        border-radius: 5px;
    }
    .mapa{
        grid-area: mapa;
    }
    
    .direccion{
       font-family:$tipografia-principal;
       grid-area: direccion;
       margin-right: 30px;
       color: nth($list: $colores, $n:3);
       .direccion-tit{
        font-family:$tipografia-principal;
        color: nth($list: $colores, $n:5);
        text-align:left;
        }
       ul{
        text-align:left;
        list-style: none;
       }
    }

}