@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS PARA PAGINA POLITICA DE CALIDAD*/

/*Estilo para el encabezado de la página*/

.encabezadoPol{
    background-image: url(../../multimedia/imagen-23.jpg);
    background-position: center;
    @include flex;
    .imagenLogo{
        position:relative;
        top: 60px;
    }
    h1{
        position:relative;
        top: 100px;
        text-align: center;
        font-family:$tipografia-principal;
        font-size: 80px;
        color: nth($list: $colores, $n:3);
    }
}

/*Estilo para el contenido de la página*/

.contenidoPol{
    background-image:url(../../multimedia/imagen-37.jpg);
    background-position: center;
    background-size:cover;

    .col{
        color:nth($list: $colores, $n:3); ;
        padding: 3px 10px;
        border: lightseagreen 1px solid;
        font-family: $tipografia-principal;
        font-size: 18px;
        margin: 20px;
        
    }
    h2{
        text-align:center;
        color: nth($list: $colores, $n:5);
        padding: $medida-1;

    }
    span{
        color:nth($list: $colores, $n:1);
    }
}



