@import "base/variables";
@import "componentes/media-queris";
@import "base/listas";
@import "base/mixin";

/*ESTILOS PARA PÁGINA PRODUCTOS*/

/* Estilo para el encabezado de la página */

.encabezadoProd{
    background-image: url(../../multimedia/imagen-38.jpg);
    background-position: center;
    @include flex;
    .imagenLogo{
        position:relative;
        top: 60px;
    }
    h1{
        position:relative;
        top: 100px;
        text-align: center;
        font-family:$tipografia-principal;
        font-size: 80px;
        color: nth($list: $colores, $n:3);
    }
}

/* Estilo para el contenido de la página */

.contenidoProd{
    background-image:url(../../multimedia/imagen-37.jpg);
    background-position: center;
    background-size: cover;
    
    h2{
        color: nth($list: $colores, $n:5);
        padding: 20px; 
        margin-bottom: 20px; 
    }
}