@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*ESTILOS PARA PAGINA SERVICIOS*/

/*Estilo para el encabezado de la página*/

.encabezadoSer{
    background-image: url(../../multimedia/image-44.jpg);
    background-position: center;
    @include flex;
    .imagenLogo{
        position:relative;
        top: 60px;
    }
    h1{
        position:relative;
        top: 100px;
        text-align: center;
        font-family:$tipografia-principal;
        font-size: 80px;
        color: nth($list: $colores, $n:3);
    }
}

/*Estilo para el contenido de la página*/

.contenidoSer{
    background-image:url(../../multimedia/imagen-37.jpg);
    background-position: center;
    background-size: cover;
    
    h2{
        color: nth($list: $colores, $n:5);
        padding: $medida-1; 
        margin-bottom:$medida-1; 
    }
    .servicios{
        display: flex;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        justify-items: center;
    }
    .video-contenedor{
        margin-top: 30px;
    }
}.video-titulo{
        text-align: center;
        font-family:$tipografia-principal;
        color: nth($list: $colores, $n:5);
        font-size: 25px;
        margin-top: 20px;

}