
@mixin flex{
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin index{
display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows:auto auto ;
    grid-template-areas: "contenidoIndex__titulo contenidoIndex__titulo contenidoIndex__titulo"
                         "imagen-09 parrafoNosotros1 imagen-27";
    justify-content:center;
    justify-items:center;
    align-items:center;
}

@mixin media-queris-index{
    display: grid;
        grid-template-columns:auto;
        grid-template-rows:auto auto auto auto;
        grid-template-areas: "contenidoIndex__titulo"
                             "parrafoNosotros1" 
                             "imagen-27"
                             "imagen-09";
        justify-content:center;
        justify-items:center;
        align-items:center;
}

