$tipografia-principal:Helvetica;
$color-principal:linear-gradient(180deg, rgba(32,33,33,0.9948354341736695) 65%, rgba(67,69,69,0.8799894957983193) 85%);
$color-secundario:rgb(22, 126, 223);
$color-terciario:black;
$color-cuarto:rgb(224, 213, 213);
$color-quinto:rgb(172, 8, 8);