
@import "base/variables";

/*ESTILOS PARA EL FOOTER*/

footer{
    background-color:nth($list: $colores, $n:2);
    font-family:$tipografia-principal;
    color:nth($list: $colores, $n:3);
    padding-top: 30px;

    ul{
        list-style: none;
        margin-top: $medida-2;
        margin-bottom: $medida-2;
    }
    span{
        color: nth($list: $colores, $n:4);
    }
    .contactos{
    padding: 5px;
    background-color:nth($list: $colores, $n:1);
    background-clip:border-box;
    font-family:$tipografia-principal;
    font-size: 25px;
    color:nth($list: $colores, $n:3);
    border-top-right-radius:  $medida-1;
    border-bottom-left-radius:  $medida-1;
    margin-bottom: 30px;
    }
}