@import "base/variables";
@import "base/listas";
@import "base/mixin";

/*MEDIA QUERIS PARA PAGINA NOSOTROS*/

@media screen and (min-width:320px) and (max-width:480px){
    .encabezadoIndex{
        background-image: url(../../multimedia/imagen-21-1.jpg);
        background-position: center;
        @include flex;
        .imagenLogo{
            position:relative;
            top: 60px;
        }
        h1{
            position:relative;
            top: 100px;
            text-align: center;
            font-family:$tipografia-principal;
            font-size: 50px;
            color: nth($list: $colores, $n:3);
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .contenidoIndex{
        @include media-queris-index;
        .contenidoIndex__titulo{
            text-align: center;
        }
        .parrafoNosotros1{
            font-size: 15px;
            text-align: justify;
        }
        .imagen-09{
            transform:scale(1);
            grid-area: imagen-09;
        }
        .imagen-27{
            transform:scale(1);
            grid-area: imagen-27;
        }
    }
    
}
@media screen and (min-width:481px) and (max-width:769px){
    .encabezadoIndex{
        background-image: url(../../multimedia/imagen-21-1.jpg);
        background-position: center;
        @include flex;
        .imagenLogo{
            position:relative;
            top: 60px;
        }
        h1{
            position:relative;
            top: 100px;
            text-align: center;
            font-family:$tipografia-principal;
            font-size: 60px;
            color: nth($list: $colores, $n:3);
        }
    }
    .contenidoIndex{
        @include media-queris-index;
        .contenidoIndex__titulo{
            text-align: center;
        }
        .parrafoNosotros1{
            font-size: 15px;
            text-align: justify;
            margin-right: 10px;
            margin-left: 10px;
        }
        .imagen-09{
            transform:scale(1);
            grid-area: imagen-09;
        }
        .imagen-27{
            transform:scale(1);
            grid-area: imagen-27;
        }
    }
    
}
@media screen and (min-width:770px) and (max-width:1024px){
    .encabezadoIndex{
        background-image: url(../../multimedia/imagen-21-1.jpg);
        background-position: center;
        @include flex;
        .imagenLogo{
            position:relative;
            top: 50px;
        }
        h1{
            position:relative;
            top: 100px;
            text-align: center;
            font-family:$tipografia-principal;
            font-size: $medida-3;
            color: nth($list: $colores, $n:3);
        }
    }
    .contenidoIndex{
        @include media-queris-index;
        .contenidoIndex__titulo{
            text-align: center;
        }
        .parrafoNosotros1{
            font-size: 15px;
            text-align: justify;
            margin-right: 10px;
            margin-left: 10px;
        }
        .imagen-09{
            transform:scale(1);
            grid-area: imagen-09;
        }
        .imagen-27{
            transform:scale(1);
            grid-area: imagen-27;
        }
    }
    
}

/* MEDIA QUERIS PARA PÁGINA POLITICA DE CALIDAD */

@media screen and (min-width:320px) and (max-width:480px){
 
    .encabezadoPol{
        h1{
            font-size: $medida-3;
        }
    }

}

/* MEDIA QUERIS PARA PÁGINA SERVICIOS */

.encabezadoSer{
    h1{
        font-size: $medida-3;
    }
}

/* MEDIA QUERIS PARA PÁGINA PRODUCTOS */

@media screen and (min-width:320px) and (max-width:480px){

    .encabezadoProd{
        h1{
            font-size: $medida-3;
        }
    }

}

/* MEDIA QUERIS PARA PÁGINA CONTACTOS */

@media screen and (min-width:320px) and (max-width:480px){

    .encabezadoCon{
        h1{
            font-size: $medida-3;
        }
    }
}

